.image-gallery-wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  align-items: center;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  .swiper-wrap {
    width: 60%;
    cursor: grab;

    @media (max-width: 1200px) {
      width: 100%;
    }

    .image-gallery {

      .swiper-wrapper {

        .swiper-slide {

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .swiper-button {
        background-color: rgba($color-white, .7);

        &:hover {
          background-color: rgba($color-white, 1);
        }

        &.swiper-button-next {
          right: 30px;

          @media (max-width: 768px) {
            right: 15px;
          }

          &::after {
            content: url("../Images/arrow-right_black.svg");
          }
        }

        &.swiper-button-prev {
          left: 30px;

          @media (max-width: 768px) {
            left: 15px;
          }

          &::after {
            content: url("../Images/arrow-left_black.svg");
          }
        }
      }
    }

    .image-gallery-thumbs {
      margin-top: 30px;

      @media (max-width: 499px) {
        margin-top: 10px;
      }

      .swiper-wrapper {

        .swiper-slide {
          opacity: .5;
          transition: 0.25s ease;

          img {
            width: 100%;
            height: auto;
          }

          &.swiper-slide-thumb-active {
            opacity: 1;
          }
        }
      }
    }
  }

  .content {
    width: 40%;
    padding-left: 50px;

    @media (max-width: 1200px) {
      width: 100%;
      padding-left: 0;
      margin-top: 40px;
    }
  }
}