.sb-xs {
    margin-top: 40px !important;
}

.sb-sm {
    margin-top: 70px !important;
}

.sb-md {
    margin-top: 140px !important;
}

.sb-lg {
    margin-top: 220px !important;
}

.sb-xl {
    margin-top: 300px !important;
}

.sa-xs {
    margin-bottom: 60px !important;
}

.sa-sm {
    margin-bottom: 90px !important;
}

.sa-md {
    margin-bottom: 140px !important;
}

.sa-lg {
    margin-bottom: 220px !important;
}

.sa-xl {
    margin-bottom: 300px !important;
}

@media (max-width: 768px) {

    .sb-xs {
        margin-top: 25px !important;
    }

    .sb-sm {
        margin-top: 50px !important;
    }

    .sb-md {
        margin-top: 90px !important;
    }

    .sb-lg {
        margin-top: 150px !important;
    }

    .sb-xl {
        margin-top: 200px !important;
    }

    .sa-xs {
        margin-bottom: 40px !important;
    }

    .sa-sm {
        margin-bottom: 60px !important;
    }

    .sa-md {
        margin-bottom: 90px !important;
    }

    .sa-lg {
        margin-bottom: 150px !important;
    }

    .sa-xl {
        margin-bottom: 200px !important;
    }
}
