.swiper-button {
	width: 80px;
	height: 80px;
	border-radius: 80px;
	background-color: $color-black;
	opacity: 1;
	transition: 0.25s ease;

	@media (max-width: 768px) {
		width: 60px;
		height: 60px;
	}

	&.swiper-button-next {

		&:hover {
			transform: rotate(-16deg) scale(1.1);
		}

		&::after {
			content: url("../Images/arrow-right_white.svg");
		}
	}

	&.swiper-button-prev {

		&:hover {
			transform: rotate(16deg) scale(1.1);
		}

		&::after {
			content: url("../Images/arrow-left_white.svg");
		}
	}
}