h1 {
	font-family: $font-family-circular-bold;
	color: $color-black;
	@include font-rem(120px, 100px);
	margin-bottom: 40px;

	@media (max-width: 768px) {
		@include font-rem(50px, 50px);
	}
}

h2 {
	font-family: $font-family-circular-bold;
	color: $color-black;
	@include font-rem(55px, 70px);
	margin-bottom: 40px;

	@media (max-width: 1100px) {
		@include font-rem(42px, 55px);
	}

	@media (max-width: 768px) {
		@include font-rem(30px, 40px);
	}
}

h3 {
	font-family: $font-family-circular-bold;
	color: $color-black;
	@include font-rem(28px, 38px);
	margin-bottom: 40px;

    @media (max-width: 768px) {
        @include font-rem(28px, 34px);
    }
}

h4 {
	font-family: $font-family-circular-regular;
	color: $color-black;
	@include font-rem(21px, 28px);
	margin-bottom: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h6 {
	font-family: $font-family-circular-bold;
	color: $color-black;
	@include font-rem(20px, 30px);
	margin-bottom: 30px;

	@media (max-width: 768px) {
		@include font-rem(20px, 30px);
	}
}

p, li {
	font-family: $font-family-circular-regular;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 34px;
	color: $color-black;

	a {
		font-family: $font-family-circular-regular;
		color: $color-black;
		position: relative;
		border-bottom: 4px solid $color-tertiary;
		transition: 0.25s ease;

		&:hover {
			color: $color-tertiary;
			text-decoration: none;
		}
	}
}

.strong,
b,
strong {
	font-family: $font-family-circular-bold;
}

*::selection {
	color: $color-primary;
	background-color: $color-primary;
}

ul {
	padding-left: 60px;

	li {
		color: $color-black;
		font-family: $font-family-circular-bold;
		list-style-type: none;
		position: relative;
		line-height: 26px;
		margin-bottom: 28px;

		&::before {
			content: "";
			background-image: url("../Images/bullet.svg");
			width: 30px;
			height: 30px;
			background-size: contain;
			position: absolute;
			left: -64px;
			top: 0;
		}
	}
}