// colors
$color-primary: #C4BADD;
$color-secondary: #9AC1D1;
$color-tertiary: #FFEF87;

$color-white: #FFF;
$color-black: #000;

$color-alert: #dc3545;

// fonts
$font-family-circular-bold: 'circular-bold';
$font-family-circular-regular: 'circular-regular';
$font-family-circular-bold: 'circular-bold';
