.classes {

  .class {
    padding: 120px 0;
    min-height: 100vh;

    .container {
      display: flex;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      &.reverse {
        flex-direction: row-reverse;

        @media (max-width: 600px) {
          flex-direction: column;
        }

        .image {
          margin-right: 120px;
          margin-left: 0;

          @media (max-width: 1100px) {
            margin-right: 80px;
          }
        }
      }

      .description {

        h2, h4, p, h6 {
          color: $color-white;
        }

        h2, h4 {
          display: inline;
        }

        h4 {
          position: relative;
          margin-right: 40px;
          top: -10px;
          left: 3px;
        }

        p {
          margin-left: 90px;
          margin-top: 60px;

          @media (max-width: 990px) {
            margin-left: 70px;
          }
        }

        .tags {
          margin-top: 60px;

          h6 {
            display: inline;
            margin-right: 30px;

            @media (max-width: 600px) {
              display: block;
              margin-bottom: 0;
            }
          }
        }
      }

      .image {
        margin-left: 120px;
        position: relative;
        height: fit-content;

        @media (max-width: 1100px) {
          margin-left: 80px;
        }

        @media (max-width: 600px) {
          margin-left: 0;
          margin-top: 40px;
        }

        .photo {
          border-radius: 26vw 12vw;
          max-width: 350px;
          height: auto;

          @media (max-width: 1100px) {
            width: 260px;
            height: auto;
          }

          @media (max-width: 600px) {
            border-radius: 300px 150px;
          }
        }

        .icon {
          position: absolute;
        }
      }
    }

    &.bikram,
    &.hatha {

      .icon {
        left: 50%;
        bottom: -80px;
      }
    }

    &.vinyasa {

      .icon {
        right: 50%;
        bottom: 80px;

      }
    }

    @media (max-width: 1100px) {

      &.bikram .icon {
        width: 300px;
        height: auto;
        bottom: -20px;
      }

      &.vinyasa .icon {
          width: 260px;
          height: auto;
          bottom: 40px;
      }

      &.hatha .icon {
        width: 100px;
        height: auto;
        bottom: -40px;
      }
    }
  }
}