<section id="sec-classes" class="classes">
    <div class="class bikram bg-fade" data-background="#C4BADD">
        <div class="container">
            <div class="description">
                <h4>Bikram</h4>
                <h2>bis in die tiefen&shy;muskulatur bei 36° Raum&shy;temperatur</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br><br>At vero eos et accusam et justo.</p>
                <div class="tags">
                    <h6>prävention</h6>
                    <h6>lorem</h6>
                    <h6>ipsumdol</h6>
                </div>
            </div>

            <div class="image">
                <img class="photo" src="./Images/classes_bikram.jpg">
                <img class="icon" src="./Images/classes_icon-bikram.svg">
            </div>
        </div>
    </div>

    <div class="class vinyasa bg-fade" data-background="#9AC1D1">
        <div class="container reverse">
            <div class="description">
                <h4>Vinyasa</h4>
                <h2>fließende & dynamische sequenzen</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br><br>At vero eos et accusam et justo.</p>
                <div class="tags">
                    <h6>prävention</h6>
                    <h6>lorem</h6>
                    <h6>ipsumdol</h6>
                </div>
            </div>

            <div class="image">
                <img class="photo" src="./Images/classes_vinyasa.jpg">
                <img class="icon" src="./Images/classes_icon-vinyasa.svg">
            </div>
        </div>
    </div>

    <div class="class hatha bg-fade" data-background="#C4BADD">
        <div class="container">
            <div class="description">
                <h4>Hatha</h4>
                <h2>gezielte asanas für den gesunden körper & geist</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br><br>At vero eos et accusam et justo.</p>
                <div class="tags">
                    <h6>prävention</h6>
                    <h6>lorem</h6>
                    <h6>ipsumdol</h6>
                </div>
            </div>

            <div class="image">
                <img class="photo" src="./Images/classes_hatha.jpg">
                <img class="icon" src="./Images/classes_icon-hatha.svg">
            </div>
        </div>
    </div>
</section>