header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 40px;
		transition: .4s ease;

		@media (max-width: 600px) {
			padding-top: 30px;
		}

		&.scrolled {
			padding-top: 10px;
		}

		.logo-link {
			display: flex;
			align-items: center;

			img {
				width: 80px;
				height: auto;

				@media (max-width: 600px) {
					width: 60px;
				}
			}
		}

		.nav-toggle {
			color: $color-black;
			font-size: 24px;
			font-family: $font-family-circular-bold;
		}

		nav {
			position: fixed;
			right: -540px;
			top: 0;
			height: 100%;
			background-color: #3D4526;
			padding: 80px 120px;
			max-width: 540px;
			z-index: 100;
			transition: .6s ease;
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@media (max-width: 768px) {
				padding: 80px 20px;
				width: 100%;
				right: -100vw;
			}

			.logo {
				width: 140px;
				height: auto;
			}

			ul {
				padding-left: 0;
				text-align: center;
				opacity: 0;
				transition: 0.25s ease;

				li {
					list-style-type: none;

					@media (max-width: 768px) {
						margin-bottom: 15px;
					}

					&::before {
						display: none;
					}

					a {
						border-bottom: 0;

						h3 {
							position: relative;
							display: inline-block;
							margin-bottom: 20px;
							color: $color-primary;

							&:hover {
								color: $color-primary;
							}
						}
					}
				}
			}

			.close-nav {
				position: absolute;
				left: -120px;
				top: 110px;
				opacity: 0;
				transition: 0.25s ease;

				@media (max-width: 768px) {
					left: unset;
					right: 20px;
					top: 20px;
					z-index: 101;
					width: 50px;
					height: 50px;

					img {
						width: 30px;
						height: auto;
					}
				}
			}

			&.open {
				transform: translateX(-540px);

				@media (max-width: 768px) {
					transform: translateX(-100vw);
				}

				ul {
					opacity: 1;
					transition: 0.25s ease .45s;
				}

				.close-nav {
					opacity: 1;
					transition: 0.25s ease .45s;
				}
			}
		}

		.nav-backdrop {
			position: fixed;
			left: 0;
			top: 0;
			height: 100vh;
			width: 100vw;
			background-color: rgba($color-white, .85);
			opacity: 0;
			transition: 0.6s ease;
			pointer-events: none;

			&.show {
				opacity: 1;
			}
		}
	}
}

html.fixed {
	overflow: hidden;
}