.hero {
  min-height: 100vh;
  position: relative;
  margin-bottom: 200px;

  @media (max-width: 990px) {
    margin-bottom: 100px;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;


    .hero-img {
      border-radius: 400px 200px;
      height: 80vh;
      width: auto;
      max-height: 670px;
      max-width: calc(100% - 60px);

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      h4 {
        font-size: 40px;
      }
    }

    .sub-content {
      position: absolute;
      bottom: 40px;

      h4 {
        margin-bottom: 10px;
      }
    }

    .scroll-indicator {
      position: relative;
      bottom: 0;
      right: 0;
      margin-left: auto;
      align-self: flex-end;
      margin-bottom: 20px;

      @-webkit-keyframes scroll-ani {
        0% {
          opacity: 1;
          top: 29%;
        }
        15% {
          opacity: 1;
          top: 50%;
        }
        50% {
          opacity: 0;
          top: 50%;
        }
        100% {
          opacity: 0;
          top: 29%;
        }
      }

      @-moz-keyframes scroll-ani {
        0% {
          opacity: 1;
          top: 29%;
        }
        15% {
          opacity: 1;
          top: 50%;
        }
        50% {
          opacity: 0;
          top: 50%;
        }
        100% {
          opacity: 0;
          top: 29%;
        }
      }

      @keyframes scroll-ani {
        0% {
          opacity: 1;
          top: 29%;
        }
        15% {
          opacity: 1;
          top: 50%;
        }
        50% {
          opacity: 0;
          top: 50%;
        }
        100% {
          opacity: 0;
          top: 29%;
        }
      }

      // Mouse & Message Styles

      // The Scroll Link
      .mouse-scroll {
        display: inline-block;
        line-height: 18px;
        font-size: 13px;
        font-weight: normal;
        color: $color-secondary;
        letter-spacing: 2px;
        margin-top: 10%;
        text-decoration: none;
        overflow: hidden;

        // The Mouse
        .mouse {
          position: relative;
          display: block;
          width: 46px;
          height: 73px;
          margin: 0 auto 5px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 23px;

          // Scroll Indicator
          .mouse-movement {
            position: absolute;
            display: block;
            top: 29%;
            left: 50%;
            width: 14px;
            height: 14px;
            margin: -4px 0 0 -4px;
            border: 3px solid $color-secondary;
            border-radius: 50%;
            -webkit-animation: scroll-ani 6s linear infinite;
            -moz-animation: scroll-ani 6s linear infinite;
            animation: scroll-ani 6s linear infinite;
          }

        }

        // The Scroll Message
        .mouse-message {
          float: left;
          margin: 0 0 0 7px;
          padding: 0;
          -webkit-animation: scroll-ani 6s linear infinite;
          -moz-animation: scroll-ani 6s linear infinite;
          animation: scroll-ani 6s linear infinite;

          h4 {
            color: $color-secondary;
          }
        }

        // shown on Hover of The Mouse
        // &:hover {
        //   .mouse-message {
        //     margin-top: 0;
        //   }
        // }

      }
    }
  }
}