.category-slider-wrap {
	display: flex;
	align-items: center;

	@media (max-width: 1200px) {
		flex-direction: column;
		align-items: flex-start;
	}

	.fixed-content {
		width: 400px;
		flex-shrink: 0;
		margin-right: 60px;

		@media (max-width: 1200px) {
			width: 100%;
			max-width: 500px;
		}

		.navigation {
			display: flex;
			margin-top: 80px;

			.swiper-button {
				position: relative;

				&.swiper-button-prev {
					left: 0;
				}

				&.swiper-button-next {
					left: 20px;
				}
			}
		}
	}

	.category-slider {
		width: 100%;

		@media (max-width: 1200px) {
			margin-top: -60px;
		}

		.swiper-wrapper {

			.swiper-slide {
				background-color: $color-white;

				.category-wrap {
					display: flex;
					align-items: flex-end;

					@media (max-width: 1200px) {
						flex-direction: row-reverse;
					}


					.column {
						display: flex;
						flex-direction: column;
						width: calc(50% - 15px);
						flex-shrink: 0;

						&.left-column {
							margin-right: 30px;

							@media (max-width: 1200px) {
								margin-right: 0;
								margin-left: 30px;
							}
						}

						.category-name {
							background: url("../Images/footer-bg.svg"), $color-primary;
							background-size: 190%;
							background-position: center;
							padding: 40px;
							margin-top: 30px;
							height: 250px;
							display: flex;
							justify-content: center;
							transition: 2s ease;

							h3 {
								font-size: 28px;
								line-height: 34px;
								margin-bottom: 0;
								align-self: end;
								display: inline;
								text-align: center;
							}
						}
					}

					.btn {
						margin-top: 10px;
					}

					&:hover {
						text-decoration: none;

						.btn::before {
							transform: translate(14px, -56%) rotate(-12deg);
						}

						.category-name {
							background-size: 300%;
						}
					}
				}
			}
		}
	}
}
