.video-bg {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, #C4BADD 0%, rgba(196, 186, 221, 0) 100%);
  }

  .video-bg {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    &.desktop {
      display: flex;
    }

    &.mobile {
      display: none;
    }

    @media (max-width: 768px) {

      &.desktop {
        display: none;
      }

      &.mobile {
        display: flex;
      }
    }
  }
  /* Add some content at the bottom of the video/page */
  .video-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
}