<section class="video-bg">
    <div class="overlay"></div>
        <video autoplay muted loop class="video-bg mobile">
            <source src="./Images/hero-bg.mp4" type="video/mp4">
        </video>

        <video autoplay muted loop class="video-bg desktop">
            <source src="./Images/hero-bg-gross.mp4" type="video/mp4">
        </video>

    <div class="video-content">
        <h3>Heading</h3>
        <p>Lorem ipsum...</p>
    </div>
</section>



